@import "tailwindcss";
@import "tw-animate-css";

* {
  font-family: "Inter", serif;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-background: var(--background);
  --color-backgroundTwo: var(--backgroundTwo);
  --black: var(--black);
  --color-input: var(--input);

  /* Font weights */
  --font-weight-hairline: 100;
  --font-weight-thin: 200;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;
}

:root {
  --primary: #40738d;
  --primary-foreground: #ffffff;
  --secondary: #8dd395;
  --input: #d1d5db;

  --background: #f5f6fa;
  --backgroundTwo: #f8eec6;
  --black: #1d1d1d;
}

/* Volume Slider Styles */
.slider::-webkit-slider-thumb {
  appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #3b82f6;
  cursor: pointer;
  border: 2px solid #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.slider::-moz-range-thumb {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #3b82f6;
  cursor: pointer;
  border: 2px solid #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.slider::-webkit-slider-track {
  background: transparent;
  border: none;
}

.slider::-moz-range-track {
  background: transparent;
  border: none;
}
